extends layout

block styles
  link(rel="stylesheet", href="/css/task.css")

block content
  a(href='/task/create', class='btn') add new Task
  if tasks.length > 0
    div
      each task in tasks

        section(class=(task.overDue ===  true ? 'overdue' : ''))
          header
            h1= task.name
          div
            p= task.dueDate
          div
            label(for='checked') status
            input(type='checkbox', name='checked', id='checked', value='checked', checked=task.checked, disabled)

          a(href=`/task/${task._id}`, class='btn') detail
          +taskButtons(task)
  else
    h1 No Tasks Found!
